/* common shared style */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open sans', sans-serif;
}

span {
    color: #E55473;
}

/* nav related style */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.acolor {
    color: #FD6E0A;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 20px;

}

nav a {
    text-decoration: none;
    color: darkgrey;
}

.banner {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;

}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 20px 40px;
}

.title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    display: flex;
    width: 708px;
    flex-direction: column;
    flex-shrink: 0;

}

.banner-desc {
    padding: 160px 200px;
}

.banner-flower {
    padding-top: 260px;
}

.para {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}

.featured-title {
    text-align: center;
    margin-top: 170px;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.featured-desc {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;

}

.pink-flower-tree1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 78px 0 76px;


}

.pink-flower-tree2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 117px 47px 51px 47px;

}

.pink-flower-tree3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 67px 75px 0 67px;
}


.featured {
    text-align: center;
}

.hot-deal {
    display: flex;
    padding: 100px 430px;
    margin: 128px 0;
    align-items: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    ;
}

.hot-deal-desc {
    padding: 30px 100px;
}

.social-media {
    margin-bottom: 128px;
}

.flower-images img {
    margin: 10px;
}

.latest {
    background: url(../flower-images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 122px 287px;
    margin: 128px 240px;
}

input {
    width: 700px;
    border-radius: 8px;
    padding: 18px;
}

footer {
    background: #272727;
    width: 1922px;
    height: 449px;
    flex-shrink: 0;
    justify-content: center;
}

.footer-title {
    justify-content: center;
    padding: 300px;

}

.text {
    text-align: center;
    color: white;
    padding-top: 200px;

}

.copy-text {

    text-align: center;
    color: white;
}
.video{
    justify-content: center;
}